<div class="translation-banner">
  <div class="container">
    <h1><span class="font-secondary">"</span>It is better to have read a great work of another culture in translation than never to have read it at all.<span class="font-secondary">"</span></h1>
    <p>Henry Gratton Doyle</p>
  </div>
</div>
<div class="container">
  <form>
    <textarea id="edit" name="content"></textarea>
  </form>
  <a tabindex="0" class="btn btn-lg btn-danger" id="translate_bitch" role="button" data-toggle="popover" title="Translate your content">
    Dismissible popover
  </a>
</div>
<div id="translate-content" class="hide">
  <div class="translate-form">
    <div class="popover-divider">FROM</div>
    <select class="form-control">
      <option>1</option>
    </select>
    <div class="popover-divider">TO</div>
    <select class="form-control">
      <option>1</option>
    </select>
    <button type="button" class="btn btn-primary btn-sm">SUBMIT</button>
  </div>
</div>
<script type="text/javascript">
  $('#translate_bitch').popover({
    html: true,
    content: function() {
              return $('#translate-content').html();
             },
    placement: 'bottom',
    container: 'body'
  });
</script>