<div class="container">
  <form>
    <textarea id="edit" name="content"></textarea>
  </form>
</div>




<div id="translate-content" class="hide">
  <div class="translate-form">
    <div class="popover-divider">FROM</div>
    <select class="form-control source" >
    </select>
    <div class="popover-divider">TO</div>
    <select class="form-control target" >
    </select>
    <a id="my_btn" type="button" class="btn btn-primary btn-sm">SUBMIT</a>
  </div>
</div>